# Introduction Pandas String Operations

In [1]:
import numpy as np
x= np.array([2,3,5,7,6,9])
x *2

array([ 4,  6, 10, 14, 12, 18])

In [2]:
data = ["Peter","Paul","Mary","gUIDO"]
#capitalize() Converts the first letter of a string to uppercase and the remaining letters to lowercase.
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [3]:
import pandas as pd

names = pd.Series(data)
names

0    Peter
1     Paul
2     Mary
3    gUIDO
dtype: object

In [4]:
names.str.capitalize()

0    Peter
1     Paul
2     Mary
3    Guido
dtype: object

# Tables of Pandas String Methods

In [5]:
monte = pd.Series(["Graham Chapman", "John Cleese", "Terry Gilliam",
                  "Eric Idle", "Terry Jones","Michael Palin"])

## Methods similar to Python string methods

In [6]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [7]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [8]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

## Methods using regular expressions

In [9]:
monte.str.extract("([A-Za-z]+)",expand= False)

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [10]:
monte.str.findall(r'^[AEIOU].*[aeiou]$')

0             []
1             []
2             []
3    [Eric Idle]
4             []
5             []
dtype: object

In [11]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

## Miscellaneous Methods

In [12]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [13]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

### Indicator Variables

In [14]:
full_monte = pd.DataFrame({"name": monte,
                          "info":["B|C|D","B|D","A|C","B|D","B|C","B|C|D"]})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [15]:
full_monte["info"].str.get_dummies("|")

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1